*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body, html{
  overflow:hidden;
  height:100%;
  font-family:Helvetica, Arial, sans-serif;
}
.container{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:rgb(29, 29, 29);
}
.menu{
  position:absolute;
  z-index:999;
  height:455px;
  width:610px;
}
.menu-top{
  position:absolute;
  top:0px;
  left:0px;
  height:50px;
  width:610px;
  background-color:green;
}
.menu-left{
  position:absolute;
  top:55px;
  left:0px;
  height:400px;
  width:125px;
  background-color:black;
}
.menu-left-buttons-container{
  position:absolute;
  top:30px;
  left:0;
  height:170px;
  width:100%;
  background-color:black;
  text-align:center;
  font-size:20px;
  line-height:25px;
}
.menu-left-list-buttons{
  background-color:black;
  color:white;
  font-size:15px;
  width:100%;
  height:40px;
  border:none;
  border-bottom:2px solid gray;
  text-decoration: none;
  outline:0px;
}
.menu-left-list-buttons:hover{
  color:gray !important;
}
.menu-server{
  position:absolute;
  top:0px;
  width:100%;
  height:200px;
}
.menu-left-header{
  position:absolute;
  left:0;
  width:100%;
  background-color:gray;
  text-align:center;
  font-size:28px;
  color:white;
  height:40px;
}
.menu-gamemode{
  position:absolute;
  top:200px;
  width:100%;
  height:200px;
}
.menu-right{
  position:absolute;
  top:55px;
  left:130px;
  height:400px;
  width:480px;
  background-color:#6d79be;
}
.canvasDiv, .canvas{
  position:absolute;
  background-color:black;
  z-index:0;
  height:100%;
  width:100%;
}