*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body, html{
  overflow:hidden;
  height:100%;
}
.container{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:black;
}
.menu{
  position:absolute;
  /*top:calc(50% - 225px);
  left:calc(50% - 300px);*/
  height:455px;
  width:610px;
}
.menu-top{
  position:absolute;
  top:0px;
  left:0px;
  height:50px;
  width:610px;
  background-color:green;
}
.menu-left{
  position:absolute;
  top:55px;
  left:0px;
  height:400px;
  width:125px;
  background-color:#cc5a5a;
}
.menu-middle{
  position:absolute;
  top:55px;
  left:130px;
  height:400px;
  width:350px;
  background-color:#6d79be;
}
.menu-right{
  position:absolute;
  top:55px;
  left:485px;
  height:400px;
  width:125px;
  background-color:#bea45d;
}