*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body, html{
  overflow:hidden;
  height:100%;
  font-family:Helvetica, Arial, sans-serif;
}
.container{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:black;
}
.menu{
  position:absolute;
  height:455px;
  width:610px;
}
.menu-top{
  position:absolute;
  top:0px;
  left:0px;
  height:50px;
  width:610px;
  background-color:green;
}
.menu-left{
  position:absolute;
  top:55px;
  left:0px;
  height:400px;
  width:125px;
  background-color:#3d3d3d;
}
.menu-server{
  position:absolute;
  top:0px;
  width:100%;
  height:200px;
}
.menu-left-header{
  position:absolute;
  left:0;
  width:100%;
  background-color:gray;
  text-align:center;
  font-size:25px;
  color:white;
  line-height:30px;
  height:30px;
}
.menu-gamemode{
  position:absolute;
  top:200px;
  width:100%;
  height:200px;
}
.menu-middle{
  position:absolute;
  top:55px;
  left:130px;
  height:400px;
  width:350px;
  background-color:#6d79be;
}
.menu-right{
  position:absolute;
  top:55px;
  left:485px;
  height:400px;
  width:125px;
  background-color:#bea45d;
}