*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body, html{
  height:100%;
}
.container{
  position:absolute;
  top:0;
  left:0;
  background-color:black;
  height:100%;
  width:100%;
}
.menu{
  position:absolute;
  top:calc(50% - 200px);
  left:calc(50% - 300px);
  height:400px;
  width:600px;
  border:1px solid white;
  font-size:0;
}
.menu-left{
  position:relative;
  display:inline-block;
  height:100%;
  width:124px;
  background-color:blue;
}
.menu-middle{
  position:relative;
  display:inline-block;
  height:100%;
  width:350px;
  background-color:#a89f9e;
}
.menu-right{
  position:relative;
  display:inline-block;
  height:100%;
  width:124px;
  background-color:red;
}